<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Numerology App</title>

	<link rel="stylesheet" href="/css/people.css">
</head>

<body>

	<div class="container">
	<div class="header">
	<h1>Numerology Calculator</h1>
	</div>

	<hr />

	<%= yield %>

	</div>
</body>
</html>
